*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
}



/* HEADER */
header{
  background-color: white;
  padding: 10px 20px;
}

#logo{
  display: inline;
  width: 70px;
  vertical-align: middle;
}

#titolo{
  font-size: 50px;
  font-weight: bold;
  vertical-align: middle;
}
.white{
  background-color: white;
}


/* MAIN */
.container{
  width: 70%;
  height: 70px;
  background-color: white;
  margin: auto;
  padding: 20px 50px;
}

.top{
  
  margin-top: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.bot{
  
  margin-top: 3px;
  margin-bottom: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
}

.add-button{
  padding: 10px;
  border-radius: 5px;
}

.blue{
  color: white;
  background-color: #45abea;
}

.gray{
  color:#cdd2d6;
  background-color: white;
}
